*{
    margin: 0px;
    padding: 0px;
}

    body{

        background-color:#D3D8E8;
        width: 100%;
        line-height: 1.34;

       margin: auto;
    }

    header{
        background-color: #0774B9   ;
        height: 90px;
        display: flex;
        justify-content: center;
        
    }

    h1{
        color: white;
        padding-top: 20px;
        font-size: 50px;
        padding-left: 50px;
    }
  div{
      float: right;
      padding-left: 350px;
      padding-top: 40px;
  
  }

  section{
   
    width: 950px   ;
    padding-left: 500px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    
  }

  img{
      margin-top: 20px;
  }

  article{
      width: 400px;
  }

  aside{
      width: 450px;
      margin-left: 200px;
      
  }

 .ojo{
     font-size: 36px;
 }

 .ppg{
     font-size: 20px;
     padding-top: 10px;
     padding-bottom: 15px;
 }

 .fecha{
    color: #90949c;
     padding-top: 15px;
     font-size: 20px    ;
 }

 .sexo{
    color: #90949c;
     padding-top: 15px;
     font-size: 20px    ;
 }

 .texto{
     padding-top: 15px;
     padding-bottom: 15px;
     font-size: 13px;
 }

 article p{
     font-size: 21px;
     color: #0e385f;
 }

 footer{
    background-color: white;
    width: 100%;
    height: 150px;
    margin-top: 155px;
}